.container{
    background: linear-gradient(to bottom, #2b2c49,#b5b9ff);
    display: flex
    ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height:300px;
        border-radius: 15px;
        width:300px;
}
.para{
    color: #ffffff;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 25px;
}